html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  transition: background 1s ease;
}

nav {
  font-family: 'proxima-nova', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  padding: 40px 140px 35px 140px;

}


.back-link {
  display: flex;
  
  
}

.back-link img {
  width: 55px;
}

nav a {
  border-bottom: 2px solid black;
  padding: 5px 5px 3px 5px;
}

.nav span {
  padding-bottom: 2px;
  font-size: 19px;
}

.back-link a{
  border-bottom: 0;
  
}


p {
  font-family: 'Proxima Nova';
  font-size: 20px;
}

a {
  color: #1d1d1d;
  text-decoration: none;
  margin-bottom: 2px;
  margin-right: 30px;
  box-sizing: border-box;
  padding: 0 6px;
  border-radius: 1px;
}

a:hover { 
  background-color: #1d1d1d;
  color: white;
}

.content {
  margin: auto;
  display: flex;
  width: 85%;
  padding: 200px 0;
  position: relative;
  justify-content: center;
  /* box-sizing: border-box; */
}

.pic {
  width: 40%
}
.pic img {
  width: 90%;
}

.bio {
  width: 40%;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: #1d1d1d;
}

footer a {
  font-family: 'Proxima Nova';
  font-size: 20px;
  color: white;
  padding: 0px 2px;
  width: fit-content;
  border-bottom: 2px solid white;
}

footer a:hover { 
  background-color: white;
  color: #1d1d1d;
  
}

.contact {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  box-sizing: border-box;
  
}

.work {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  
}

.social {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Kepler-Std-Display';
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  color:rgb(205, 204, 221);
  letter-spacing: 1.5px;
}


@media screen and (max-width: 1160px) {
  

  .pic {
    width: 50%;
  
  }

  .bio p{
    width: 80%;
    font-size: 20px;
  }

  footer {
    flex-direction: column;
    padding: 50px 50px;
  }
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
    
  }

  .pic {
    width: 80%;

  }

  .bio {
    width: 80%;
  }

  footer {
    padding: 30px;
}
footer h2 {
    font-size: 36px;
  }
  footer a {
    font-size: 20px;
  }
}