html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  transition: background 1s ease;
}

nav {
  /* height: 50px; */
  font-family: "Proxima Nova", Helvetica, sans-serif;
    sans-serif;
  font-size: 20px;
  color: #1d1d1d;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-end;
  padding: 50px 140px 30px 140px;
}



a {
  color: #1d1d1d;
  text-decoration: none;
  margin-bottom: 2px;
  margin-right: 30px;
  box-sizing: border-box;
  padding: 0 3px;
  border-radius: 1px;
  border-bottom: 2px #1d1d1d solid;
}

a:hover {
  background-color: #1d1d1d;
  color: white;
  transition: background-color 0.2s;
}



.CTA {
  /* background-color: aqua; */
  /* animation: color-change 1s ease infinite; */
  /* border: 0; */
}

@keyframes color-change {
  10% {
    background-color: rgb(85, 172, 35);
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

.CTA:hover {
  background-color: #1d1d1d;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: auto 140px;
  width: 550px;
}

h1 {
  font-size: 50px;
  font-family: "Kepler-Std-Display", Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  margin: 0 0;
}

h3 {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.mouse {
  width: 25px;
  height: 40px;
  border-radius: 50px;
  border: 2.2px #1d1d1d solid;
  display: flex;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px;
}

.dot {
  width: 3px;
  height: 4px;
  background-color: #1d1d1d;
  border-radius: 10px;
  animation: indicate 2s ease infinite;
}

@keyframes indicate {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.dd_menu {
  position: absolute;
  z-index: 2;
  right: 140px;
}

.project {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  padding: 0 140px 50px 140px;
  justify-content: space-between;
  margin-bottom: 50px;
}


.project_image {
  display: flex;
}

.project_image img {
  /* width: 85%; */
  max-height: 738px;
}

.phone_img img{
  max-height: 750px;
  max-width: 80%;
  width: 1000px;
  /* box-shadow: rgba(0, 0, 0, 0.178) 5px 6px 10px; */
}
/* .project:hover {
    background-color: #FFDBED;
    transition: background-color 2s ease;
} */

.project_description {
  width: 40%;
  height: 340px;
  background-color: white;
  z-index: 1;
  position: absolute;
  right: 140px;
  box-shadow: rgba(0, 0, 0, 0.178) 10px 12px 20px;
  padding: 40px;
  box-sizing: border-box;
}

.project_description a {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 1px;
}

.toLeft {
  left: 140px;
}

.reverse {
  flex-direction: row-reverse;
  background-position: right;
}

.project_description h1 {
  font-size: 40px;
}
.project_description h3 {
  letter-spacing: 0.2px;
}


.cdc_links {
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: 210px;
}
footer {
  display: flex;
  flex-direction: row;
  padding: 50px 120px;
  box-sizing: border-box;
  background-color: #1d1d1d;
  position: relative;
  margin-top: 30px;
}

footer a {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  border-bottom: 2px solid white;
  width: fit-content;
  padding: 0px 2px;
  /* width: auto; */
}

footer a:hover {
  background-color: white;
  color: rgb(12, 12, 12);
}


h2 {
  font-family: "Kepler-Std-Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(205, 204, 221);
  letter-spacing: 0.7px;
}

.links {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  box-sizing: border-box;
  width: 230px;
}

.work {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  width: 210px;
}

.social {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.farewell {
  display: flex;
  flex-direction: column;
  right: 140px;
  position: absolute;
  bottom: 50px;
  text-align: center;
}

.farewell p {
  color: white; 
  font-family: 'Proxima Nova', helvetica, sans-serif;  
  font-size: 20px; 
  margin: 0;
}

.farewell h2 {
  color: white;
  margin: 0;
  display: flex;
  align-content: flex-end;
  
}


@media screen and (max-width: 1400px) {
  
  footer {
    flex-direction: column;
    align-content: center;
  }

  .farewell {
    position: relative;
    right: 0;
    bottom: 0;
    align-items: flex-end;
    margin-top: 80px;
  }

  .project_image img{
    max-height: 600px;
  }
  
  .phone_image img{
    max-width: 500px;
  }
}




@media screen and (max-width: 1024px) {

  nav {
    padding: 50px 50px 70px 50px;
  }
  .intro {
    margin: auto 50px;
  }
  .project {
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    height: auto;
  }

  .project_description {
    position: initial;
    width: 100%;
    margin-top: 10px;

  }
  .project_image {
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .project_image img{
    /* max-width: 600px; */
    max-height: 500px;
    /* margin: 10px; */
  }
  .mouse {
    display: none;
  }
  .farewell {
    align-items: center;
  }

footer {
  flex-direction: column;
  padding: 50px 50px;
}
}

@media screen and (max-width: 930px) {

  nav {
    padding: 50px 30px 30px 30px;
  }
  .intro{
    width: 60%;
    margin: auto 30px;
  }

  .project {
    padding: 30px 30px;

  }

  .project_image img {
    max-width: 500px;
  }

  .project_description {
    /* width: 500px; */
  }

  .links {
    flex-direction: column;
  }
    
}

@media screen and (max-width: 460px) {


  nav {
    font-size: 16px;
    padding: 30px 20px;
  }

  .intro {
    width: 75%;
  }

  .intro h1 {
    font-size: 32px;
  }

  .intro h3 {
    font-size: 16px;
  }

  .project {
    padding: 30px 20px;

  }
  .project_image img {
    max-height: 230px;
  }

  .project_description {
    padding: 20px 20px 50px 20px;
    height: auto;
  }
  
  .project_description h1 {
    font-size: 32px;
  }

  .project_description h3 {
    font-size: 16px;
    line-height: 22px;
  }

  .project_description a {
    font-size: 16px;
  }

  .phone_img img {
    max-width: 270px;
  }

  footer {
    padding: 20px;
  }

footer h2 {
  font-size: 36px;
}
footer a {
  font-size: 16px;
}

  .farewell{
    position: relative;
    right: auto;
    bottom: auto;
  }

  .farewell p {
    font-size: 16px;
  }

  .farewell h2 {
    font-size: 36px;
  }
  .work{
    width: 190px;
  }

  .social {
    width: 100px;
  }
  .contact {
    width: 200px;
  }
}

@media screen and (max-height: 800px) {
  .project_image img {
    max-height: 500px;
  }
  .phone_img img {
    max-width: 600px;
  }
  .project {
    margin-bottom: 80px;
  }

  .hero {
  margin-bottom: 80px;
  }

} 